@import "colors";
.btn {
  border-radius: 7px;
  color: #ffffff;
  border: 0;
  padding: 0.8rem;
  text-align: center;
  display: block;
  font-weight: 600;
  &-primary {
    background-color: $primary-color;
    &-outline {
      background-color: transparent;
      border: 2px solid $primary-color;
      color: $primary-color;
    }
  }
}
