<div class="form">
  <div class="form__header">
    <h2>Signup</h2>
  </div>

  <div class="form__body">
    <form>
      <div class="form-group">
        <label for="name">Fullname</label>
        <input type="text" name="name" class="form-control" />
      </div>
      <div class="form-group">
        <label for="email">Your Email</label>
        <input type="email" name="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">Signup</button>
      <div class="text">
        <p>
          By Creating account You agree to the <a href="#">Terms of use</a> and
          <a href="#">Privacy Polycy</a>
        </p>
      </div>
    </form>
  </div>
</div>
