<div class="form">
  <div class="form__header">
    <h2>Login</h2>
  </div>

  <div class="form__body">
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="email">Your Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          formControlName="password"
        />
      </div>
      <ng-container *ngIf="loginError$ | async as errorMessage">
        <p class="error-form">{{ errorMessage }}</p>
      </ng-container>

      <button type="submit" class="btn btn-primary">
        <ng-container *ngIf="loadingLogin$ | async; else elseBlock">
          ...Cargando
        </ng-container>
        <ng-template #elseBlock>Login</ng-template>
      </button>
    </form>
  </div>
</div>
