.content {
  display: grid;
  place-items: center;
  height: 100vh;

  .form-content {
    width: 90%;
    max-width: 520px;
  }
}
.btn-header {
  position: absolute;
  right: 1rem;
  top: 1rem;
  .btn {
    width: 8rem;
  }
}
